@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-bkg: 220deg 14.3% 95.3%;
    --color-main: 111deg 58% 17%;
    --color-pic: 142deg 71.8% 29.2%;
    --color-third: 215deg 27.9% 16.9%;
    --color-blk: 0deg 0% 0%;
    --color-wht: 0deg 0% 100%;
  }

  @media (prefers-color-scheme:dark) {
    :root {
      --color-main: 220deg 14.3% 95.3%;
      --color-pic: 0deg 0% 100%;
      --color-bkg: 111deg 58% 17%;
      --color-wht: 215deg 27.9% 16.9%;
      --color-blk: 0deg 0% 100%;
      --color-third: 0deg 0% 100%;
    }
  }

  :root[data-theme="light"] {
    :root {
      --color-bkg: 220deg 14.3% 95.3%;
      --color-main: 111deg 58% 17%;
      --color-pic: 142deg 71.8% 29.2%;
      --color-third: 215deg 27.9% 16.9%;
      --color-blk: 0deg 0% 0%;
      --color-wht: 0deg 0% 100%;
    }
  }
  :root[data-theme="dark"] {
    :root {
      --color-main: 220deg 14.3% 95.3%;
      --color-pic: 0deg 0% 100%;
      --color-bkg: 111deg 58% 17%;
      --color-wht: 215deg 27.9% 16.9%;
      --color-blk: 0deg 0% 100%;
      --color-third: 0deg 0% 100%;
    }
  }
}


@font-face {
  font-family: "burtons";
  src: url('../public/Burtons.otf');
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}
